body {
	background-color: #DBECFC;
	color: #333;
}

p{
	font-family: sans-serif;
}

.byline {
  font-size: 60px;
}

.subheaders{
  color: yellow;
}

h2 {
	text-decoration: underline;
	font-variant: small-caps;
	font-family: sans-serif;
}
	h1 {
		background-color: yellow;
		padding: 40px;
		font-family: sans-serif;
	}
ul {
	list-style: none;
}
