body {
	background-color: #DBECFC;
	color: #333;
}

p{color: blue;
}

.byline {
  font-zise: 60px;
}

.subheaders{
  color: yellow;
}

h2 {
	text-decoration: underline;
}
	h1 {
		background-color: yellow;
		padding: 40px 50px;
	}
